:root {
  --buttonBackground: #7d9d9c;
  --white: #f9f9f9;
  --cardBackground: #f9f9f9;
  --buttonBackground2: #5d8987;
  --lightWhite:#fefefe
}
@media (pointer:none), (pointer:coarse) {
  .containera .item {
    box-shadow: none !important;
  }
  .containera .item:hover {
    transform: none;
    transition: none;
  }
}
.myButton:hover {
  background-color: var(--buttonBackground2);
  color: var(--white);
}
.containera {
  -moz-column-count: 1;
  column-count: 1;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -moz-column-fill: balance;
  column-fill: balance;
  margin: 20px auto 0;
}
.containera .item {
  display: flex;
  margin: 0 0 20px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--cardBackground);
  transition: all 0.4s ease-in-out;
  border-radius: 20px;
}
.containera .item:hover {
  transform: scale(1.05) !important;
  z-index: 1;
}
.containera .item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 0px) and (max-width: 350px) {
  .myButton {
    font-size: 12px;
  }
  .card-title {
    font-size: 13px;
  }
  .containera {
    -moz-column-count: 2;
    column-count: 2;
  }
  
}
@media (min-width: 350px) and (max-width: 500px) {
  .myButton {
    font-size: 13px;
  }
  .card-title {
    font-size: 13px;
  }
  .containera {
    -moz-column-count: 2;
    column-count: 2;
    font-size: 12px !important;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .myButton {
    font-size: 16px;
  }
  .card-title {
    font-size: 15px;
  }
  .containera {
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .containera {
    -moz-column-count: 4;
    column-count: 4;
  }
  .card-title {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .containera {
    -moz-column-count: 5;
    column-count: 5;
  }
}
body {
  background-color: var(--white);
}
.myButton {
  border-color: var(--buttonBackground);
  background-color: var(--buttonBackground);
  color: var(--lightWhite);
  
}
.searchStyle {
  width: 100%;
}
.inputStyle {
  width: 50% !important;
  max-width: 450px;
  min-width: 150px;
}
